@import "tailwindcss";

@theme{
  --color-primary:#02B290;
}

.custom-underline::after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  top: 32px;
  right: 0;
  transition: all 0.5s;
 
  
}
li:hover .custom-underline::after{
  width: 100%;
  background-color: var(--color-primary);
 left: 0;
 transition: all 0.4s;
}
.custom-underline:focus::after{
  width: 100%;
  background-color: var(--color-primary);
  
}